/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

h3 {
  color: #999;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

#main {
  margin: 30px 30px 30px 135px;
}

.post, .votes {
  border: 1px solid rgba(0, 0, 0, 0.21);
  width: 50%;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(211, 211, 211, 0.18);
  float: left;
}

.post-id {
  margin: 10px 0;
}

.alert-error {
  width: 30%;
}

.field_with_errors {
  border-color: #BD1F00;
}

.edit-post {
  display: block;
}

.categories-menu {
  position: absolute;
  left: 400px;
}

.categories-menu ul {
  list-style: none;
  padding: 0 10px;
  position: absolute;
  top: 100%;
  left: -10px;
  display: none;
  background: #fff;
  width: 80%;
  box-shadow: 0 0.3px 0.5px 0.5px rgba(0, 0, 0, 0.29);

  li {
    margin: 5px 0;
  }
}

.categories-menu:hover {
}

.categories-menu:hover ul {
  display: block;
}

.post-info {
  list-style: none;
  margin: 20px 0;
}

.category-checkboxes {
  display: inline-block;
  margin-right: 10px;
  label {
    display: inline-block;
  }
}

.user-greeting {
  padding: 10px;
  cursor: pointer;
}

.user-detail {
  font-weight: bold;
}

.user-info-details {
  background: rgba(211, 211, 211, 0.28);
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.33);
  padding: 30px 60px;
}

.votes {
  clear: left;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 60px;

  a {
    display: block;
  }
}

[type="submit"] {
  display: block;
}

.navbar .nav .new-post {
  color: #fff;
  padding: 2px 10px;
  text-shadow: none;
  margin-left: 15px;
}

.navbar .nav .new-post:hover {
  color: #fff;
  background: #51a351;
}

.dropdown-menu > li > a.new-category-btn {
  font-weight: bold;
}
